    <!-- About Project Section -->
    <section id="aboutproj" class="container content-section text-center" style="border: 2px solid #ccc; padding: 20px; margin: 20px auto; border-radius: 10px; max-width: 100%;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Project</h2>
                <p>This website provides free outreach resources for teaching the public about Soft Robotics via Rice Paper fabrication. The website provides information on why Rice Paper is a good resource</p>
                <img src="img/plasticwaste.jpg" alt="Image 1" style="width: 45%;">
                <img src="img/silicone-rubber-scrap-in-hand.jpg" alt="Image 2" style="width: 45%;">
            </div>

            
        </div>
    </section>