    <!-- About Research Section -->
    <section id="aboutproj" class="container content-section text-center" style="border: 2px solid #ccc; padding: 20px; margin: 20px auto; border-radius: 10px; max-width: 100%;">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About The Researcher</h2>
                <p>Christine Braganza is a PhD Researcher at the University of Bristol, working at the Bristol Robotics Lab. Her research revolves around smart materials for biodegradable and sustainable fabrication of Soft Robots.</p>
                <div style="text-align: center;">
                    <img src="img/christinee.jpg" alt="Decomposition Image" style="width: 10em;">
                </div>
            </div>
        </div>
    </section>
