    <!-- About Section -->
    <section id="aboutproj" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Project</h2>
                <p>This website provides free outreach resources for teaching the public about Soft Robotics via Rice Paper fabrication. The website provides information on why Rice Paper is a good resource</p>
            </div>
            <div style="display: flex; justify-content: space-between;">
                <img src="plasticwaste.jpg" alt="Image 1" style="width: 45%;">
                <img src="silicone-rubber-scrap-in-hand.jpg" alt="Image 2" style="width: 45%;">
            </div>
            
        </div>
    </section>