    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                
                <h2>Why Rice Paper?</h2>
                <p>Starches, sourced from common, renewable plants like rice  and cassava root, are an exciting option for soft robotics. They’re sustainable, biodegradable, and cost-effective, with the added benefit of mechanical properties that make them perfect for prototypes or short-term use in soft robotics. Unlike traditional synthetic materials, starches break down and dissolve naturally over time, leaving a much smaller environmental footprint.</p>
                <p>Watch rice paper degrade  and grow new plants below!</p>
                <video autoplay loop muted controls width="640" height="360">
                    <source src="img/TimelapseVideo.mp4" type="video/mp4">
                </video>
                <p>Renewable</p>
                <img src="img/fulldecomp.png" alt="Decomposition Image" class="img-responsive" style="margin-top:20px;">
                <p>Biodegradable</p>
                <img src="img/fulldecomp.png" alt="Decomposition Image" class="img-responsive" style="margin-top:20px;">
                <p>Non-Toxic</p>
                <img src="img/cress6b.png" alt="Decomposition Image" class="img-responsive" style="margin-top:20px;">
                <p>Material Properties</p>
                <img src="img/fulldecomp.png" alt="Decomposition Image" class="img-responsive" style="margin-top:20px;">
            </div>
        </div>
    </section>