<!-- Future Research Section -->
<section id="future" class="container content-section text-center">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div style="background-color: #171716; padding: 20px; margin: 20px auto; border-radius: 10px; display: flex; flex-direction: column; align-items: center; text-align: center; max-width: 100%;">
                <h1>Future Research</h1>
                <p>This research is currently being continued and methods of integrating...</p>
            </div>
        </div>
    </div>
</section>
