    <!-- Contact Section -->
    <section id="instructions" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Instructions</h2>
                <p>Materials Needed:</p>
                <img src="img/materialsandicons.png" alt="Decomposition Image" class="img-responsive" style="width: 45%;" style="text-align: center;">
                <img src="img/icons.png" alt="Decomposition Image" class="img-responsive" style="width: 15%;" style="text-align: center;">
                <p>Watch a tutorial on how to create a linear actuator below!</p>
                <video autoplay loop muted controls width="640" height="360">
                    <source src="img/Fabrication.mp4" type="video/mp4">
                </video>
                <p>Corresponding steps are detailed below:</p>
                <img src="img/realinstrucb.png" alt="Decomposition Image" class="img-responsive" style="margin-top:20px;">
                <p>
                    a <span>&#41;</span>  Spray/lightly distribute vegetable oil on the rod using hands or a non-absorbent cloth.<br>
                    b<span>&#41;</span>  Take a container wide and deep enough to submerge the rice paper sheet.<br>
                    c<span>&#41;</span>  Fill the container with water.<br>
                    d<span>&#41;</span> Submerge rice paper in container of water for 10 seconds, being careful not to break or rip it. <br>
                    e<span>&#41;</span> Remove the rice paper and place it on a clean surface.<br>
                    f<span>&#41;</span> Leave the rice paper to sit and soften for 1 minute. After a minute, the rice paper should become compliant. <br>
                    g<span>&#41;</span> Place the oiled rod at the top end of the rice paper.<br>
                    h<span>&#41;</span> Roll the rod up in the rice paper tightly, being careful not to rip it.<br>
                    i<span>&#41;</span> Ensure the bottom of the rice paper is sealed.<br>
                    j<span>&#41;</span> Place hands on either ends of the rod with rice paper rolled up on it and slide hands toward the centre of the rod, squeezing the rice paper together. This should cause the rice paper to crumple and produce folds.<br>
                    k<span>&#41;</span> Hold it in the crumpled position for 15 seconds to help it set.<br>
                    l<span>&#41;</span> Slide the rice paper off the rod (this should be easier due to prior oiling<span>&#41;</span>.<br>
                    m<span>&#41;</span> Insert pump of choice - such as tubing connected to a syringe into one of the openings.<br>
                    n<span>&#41;</span> Clip ends to make an airtight seal. If you don't have clips available, you can pinch the ends/fold the ends over and tie them up with string or a zip-tie.<br>
                    o<span>&#41;</span> Inflate.

                </p>
            </div>
        </div>
    </section>