    <!-- About The Project Section -->
    <section id="outreachinaction" class="container content-section text-center" style="border: 2px solid #ccc; padding: 20px; margin: 20px auto; border-radius: 10px; max-width: 100%;">
        <div class="row">
            <div class="col-lg-12">
                <h2>Outreach in Action</h2>
                <p>
                    25th March - Outreach with FUTURES x Young Bristol (The Youth Club on Wheels)

                Young Bristol's 'The Youth Club on Wheels' works with young people aged 8-19 in hard-to-reach areas of the city and rural areas where there is no youth provision, delivering 
                activities, programmes and providing a safe place to talk with trained youth workers. A soft robotics workshop was run in partnership with the University of Bristol's 
                FUTURES scheme whose mission is reaching less advantaged, more diverse audiences, and encouraging them to have a voice in conversations around emerging technologies.

                Location: Speedwell, Bristol
                Participants: Ages 8–12
                Duration: 2 hours


                Location: Whitchurch, Bristol
                Participants: Ages 13-19
                Duration: 2 hours


                


                </p>
                <img src="img/plasticwaste.jpg" alt="Image 1" style="height: 15em;">
                <img src="img/silicone-rubber-scrap-in-hand.jpg" alt="Image 2" style="height: 15em;">
            </div>

            
        </div>
    </section>