    <!-- About The Project Section -->
    <section id="outreachinaction" class="container content-section text-center" style="border: 2px solid #ccc; padding: 20px; margin: 20px auto; border-radius: 10px; max-width: 100%;">
        <div class="row">
            <div class="col-lg-12">
                <h2>Outreach in Action</h2>
                <p>
                    <h4>25th March 2025 - Outreach with FUTURES x Young Bristol</h4> 

                <p>Young Bristol's 'The Youth Club on Wheels' works with young people aged 8-19 in hard-to-reach areas of the city and rural areas where there is no youth provision, delivering 
                activities, programmes and providing a safe place to talk with trained youth workers. A soft robotics workshop was run in partnership with the University of Bristol's 
                FUTURES scheme whose mission is reaching less advantaged, more diverse audiences, and encouraging them to have a voice in conversations around emerging technologies. </p>

                <img src="img/intropicssss.png" alt="Fabrication Instructions" class="img-responsive" style="margin-top: 20px;">

                <p>
                Location: Speedwell, Bristol<br>
                Participants: Ages 8–12<br>
                Duration: 2 hours </p>

                <p>
                    Location: Whitchurch, Bristol<br>
                    Participants: Ages 13-19<br>
                    Duration: 2 hours
                    </p>
    
                <img src="img/Images.png" alt="Fabrication Instructions" class="img-responsive" style="margin-top: 20px;">

                <img src="img/8yearolds.png" alt="Fabrication Instructions" class="img-responsive" style="margin-top: 20px;">

                <img src="img/arcadegame.png" alt="Fabrication Instructions" class="img-responsive" style="margin-top: 20px;">

                <p>Shea Stew, the Youth Club on Wheels Lead for Young Bristol, said: "We had a great session delivering soft robotics with the University of Bristol. The context of soft robotics really got the group thinking about textures and feeling. A great piece of work proving that academia can work with children and youth well in bite size chunks. This collaboration was brilliant and ultimately I look forward to more of it." </p>

                </p>

            </div>

            
        </div>
    </section>