    <!-- About The Project Section -->
    <section id="outreachinaction" class="container content-section text-center" style="border: 2px solid #ccc; padding: 20px; margin: 20px auto; border-radius: 10px; max-width: 100%;">
        <div class="row">
            <div class="col-lg-12">
                <h2>Outreach in Action</h2>
                <p>
                    <h3>25th March 2025 - Outreach with FUTURES x Young Bristol (The Youth Club on Wheels)</h3> 

                <p>Young Bristol's 'The Youth Club on Wheels' works with young people aged 8-19 in hard-to-reach areas of the city and rural areas where there is no youth provision, delivering 
                activities, programmes and providing a safe place to talk with trained youth workers. A soft robotics workshop was run in partnership with the University of Bristol's 
                FUTURES scheme whose mission is reaching less advantaged, more diverse audiences, and encouraging them to have a voice in conversations around emerging technologies. </p>

                <img src="img/marchyoungbristolvan.jpg" alt="Image 1" style="height: 15em;">
                <img src="img/inactionmarch.jpg" alt="Image 2" style="height: 15em;">

                <p>
                Location: Speedwell, Bristol<br>
                Participants: Ages 8–12<br>
                Duration: 2 hours </p>
                


                <p>
                Location: Whitchurch, Bristol<br>
                Participants: Ages 13-19<br>
                Duration: 2 hours
                </p>


                


                </p>

            </div>

            
        </div>
    </section>